/*===============
  global styles
===============*/

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  box-shadow: none;
  box-sizing: border-box;
}

html {
    background-color: #a1b8c7;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  color: var(--clr-fg);
}

.light {
  --clr-bg: #fcfcfc;
  --clr-bg-trans: #fcfcfcd3;
  --clr-bg-alt: #fff;
  --clr-fg: #555;
  --clr-fg-alt: #444;
  --clr-primary: #2978b5;
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.dark {
  --clr-bg: #23283e;
  --clr-bg-l5: #3a4370;
  --clr-bg-l4: #313b5c;
  --clr-bg-l3: #30375c;
  --clr-bg-l2: #2d3250;
  --clr-bg-l1: #262a44;
  --clr-bg-trans: #23283ed3;
  --clr-bg-alt: #2a2f4c;
  --clr-fg: #bdbddd;
  --clr-fg-alt: #cdcdff;
  --clr-primary: #90a0d9;
  --shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

::-moz-selection {
  background: var(--clr-primary);
  color: var(--clr-bg);
}

::-webkit-selection,
::selection {
  background: var(--clr-primary);
  color: var(--clr-bg);
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
  color: var(--clr-fg-alt);
}

h1 {
  font-size: clamp(32px, 3vw, 60px);
}

h2 {
  font-size: clamp(15px, 4vw, 70px);
}

h3 {
  font-size: clamp(15px, 2.5vw, 40px);
}

h4 {
  font-size: clamp(10px, 1.5vw, 50px);
}

p, ol, ul {
  font-size: clamp(9px, 1.05vw, 30px);
}

ul {
  list-style-type: none;
}

.ul {
  list-style-type:circle;
}

a {
  font-size: clamp(20px, 1.8vw,25px);
  text-decoration: none;
}

button {
  cursor: pointer;
}

@media (max-width: 900px) {
  h1 {
  font-size: clamp(10px, 2.6vw, 20px);
  }
}

/*===================
  buttons and links
===================*/

.link {
  color: var(--clr-primary);
  padding: 0 0 0.3em 0;
  position: relative;
}

.link:hover {
  color: var(--clr-primary);
}

.link::before {
  content: "";
  display: inline;
  width: 0%;
  height: 0.2em;
  position: absolute;
  bottom: 0;
  background-color: var(--clr-primary);
  transition: width 0.2s ease-in;
}

.link:hover::before,
.link:focus::before {
  width: 100%;
}

.link--nav {
  color: var(--clr-fg);
  text-transform: lowercase;
  font-weight: 500;
}

.link--icon {
  color: var(--clr-fg);
  font-size: 1.2rem;
}

.btn {
  display: block;
  padding: 0.3em 1em;
  font-weight: 500;
  font-size: clamp(6px, 1.1vw, 18px);
  text-transform: lowercase;
  transition: transform 0.2s ease-in-out;
}

.btn--outline {
  color: var(--clr-primary);
  border: 2px solid var(--clr-primary);
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn--outline:focus,
.btn--outline:hover {
  color: var(--clr-bg);
}

.btn--outline:before {
  content: "";
  position: absolute;
  background-color: var(--clr-primary);
  right: 100%;
  bottom: 0;
  left: 0;
  top: 0;
  z-index: -1;
  transition: right 0.2s ease-in-out;
}

.btn--outline:hover::before,
.btn--outline:focus::before {
  right: 0;
}

.btn--plain {
  text-transform: initial;
  background-color: var(--clr-bg-alt);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  border: 0;
}

.btn--plain:hover {
  transform: translateY(-4px);
}

.btn--icon {
  padding: 0;
  font-size: 1.2rem;
}

.btn--icon:hover,
.btn--icon:focus {
  color: var(--clr-primary);
}

.btn--icon:active {
  transform: translateY(-5px);
}

/*========
  layout
========*/

.center {
  display: flex;
  align-items: center;
}

.header {
  position: fixed;
  top: 0;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1150px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  margin: 0 auto;
  height: 4em;
  justify-content: space-between;
  z-index: 999; /* Ensures it stays on top of other elements */
  background-color: var(--clr-bg);
  border: 7px solid var(--clr-primary);
}

main {
  position: relative;
  padding-top: 40px; /* Adjust this value to be equal to the header's height + desired spacing */
  padding-bottom: 40px;
  max-width: 1100px;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 0px;
  background-color: var(--clr-bg);
}

.section {
  margin-top: 3.5em;
}

.section__title {
  text-align: center;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.nav__list {
  margin-right: 1.5em;
  display: flex;
}

.nav__list-item {
  margin-left: 1.5em;
}

.nav__hamburger {
  display: none;
  width: 1em;
}

.banner {
  flex-direction: column;
  width: 100%;
}

.about {
  position:relative;
  flex-direction: column;
}

.about__name {
  color: var(--clr-primary);
}

.about__role {
}

.about__desc {
  font-size: 1rem;
  max-width: 600px;
}

.about__desc,
.about__contact {
  margin-top: 0.7em;
}

.about .link--icon {
  margin-right: 0.8em;
}

.about .btn--outline {
  margin-right: 1em;
}

.projects__grid {
  padding: 1em;
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
  height: 60em;
  grid-gap: 2em;
}

.panels__grid {
    display: flex;
    justify-content: center; /* Centers horizontally */
    padding: 1em;
    place-items: center;
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 60% 35%;
    grid-gap: 0.7em;
}

.panels__grid-base {
  border-top: 7px solid var(--clr-primary);
    display: flex;
    justify-content: center; /* Centers horizontally */
    padding: 1em;
    place-items: center;
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 48% 48%;
    grid-gap: 0.7em;
}

.panel {
    grid-template-columns: repeat(auto-fit, minmax(5em, 19em));
}

.project {
  padding: 1em;
  margin: 0 auto;
  text-align: center;
  box-shadow: var(--shadow);
  transition: transform 0.2s linear;
}

.wrap{
    cursor: pointer;
}

.overlay {
  font-size: small;
  background-color: var(--clr-bg-trans);
  text-align: right;
  position: absolute;
  padding: 1em;
  --w: calc(100vw/1px);
  bottom:0%;
  width: 100%;
  z-index: 1;
  opacity: 100%;
}

.project:hover {
  transform: translateY(-7px);
}

.project__description {
  margin-top: 1em;
}

.project__stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.2em 0;
}

.project__stack-item {
  margin: 0.5em;
  font-weight: 500;
  font-size: 0.3rem;
  color: var(--clr-fg-alt);
}

.project .link--icon {
  margin-left: 0.5em;
}

.skills__list {
  max-width: 400px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills__list-item {
  margin: 0.2em;
}

.contact {
  flex-direction: column;
}

.footer {
    margin-top: 0px;
    left: 50%;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    background-color: var(--clr-bg);
    padding: 1em 0;
    text-align: center;
    border: 7px solid var(--clr-primary);
}

.footer__link {
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--clr-fg);
}

.scroll-top {
  display: none;
  position: fixed;
  bottom: 1em;
  right: 2em;
  background-color: transparent;
  font-size: 1.8rem;
  transition: transform 0.2s ease-in-out;
}

@media (max-width: 600px) {
  .header {
    height: 6em;
  }

  .section {
    margin-top: 4em;
  }

  .nav__list {
    flex-direction: column;
    padding: 4em 0;
    position: absolute;
    right: 0;
    left: 0;
    top: 5em;
    background-color: var(--clr-bg);
    width: 0;
    overflow: hidden;
    transition: width 0.2s ease-in-out;
  }

  .display-nav-list {
    width: 100%;
  }

  .nav__list-item {
    margin: 0.5em 0;
  }

  .nav__hamburger {
    display: flex;
    margin-left: 0.8em;
  }

  .about {
    position: relative;
    align-items: flex-start;
    margin-top: 2em;
  }

  .footer {
    padding: 2em;
    margin-top: 3em;
  }

  .scroll-container {
    display: none;
  }
}

.scroll-container-2 {
    width: clamp(140px, 35vw, 700px);
    height: clamp(180px, 42vw, 700px);
    margin: 0 auto;
    overflow:scroll;
    border: 2px solid var(--clr-primary);
    border-radius: 30px;
}

.scroll-container-2-shorter {
    width: clamp(140px, 32vw, 500px);
    height: clamp(120px, 28vw, 400px);
    margin: 0 auto;
    overflow:scroll;
}

.scroll-container-2-even-shorter-and-longer {
    width: clamp(200px, 57vw, 1600px);
    height: clamp(40px, 16vw, 200px);
    margin: 0 auto;
    overflow:scroll;
}

ol {
  scroll-behavior: smooth;
  align-content: center;
  position:relative;
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  margin: 1rem 0;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 0 0 0 1rem;
  scroll-padding-left: 5.5vw; /* Same as gutter */
  scroll-snap-type: x mandatory;
}
ol li {
  align-content: center;
  scroll-snap-align: start;
  padding: 0 1rem 0 0;
}
ol li div.card {
  background-color: var(--clr-bg-alt);
  border-radius: 9px;
  align-content: center;
  height: clamp(100px, 26vw, 400px);
  width: 25vw;
}

ol li div.card-small {
  background-color: var(--clr-bg-alt);
  border-radius: 9px;
  align-content: center;
  height: clamp(100px, 20vw, 250px);
  width: 12vw;
}